*{
    margin: 0;
    border: 0;
    padding: 0;
}
p{
    font-family: arial;
    font-size: 20px;
    padding: 20px;
}
h1{
    font: arial;
    font-size: 40px;
    padding: 20px;
}
h2{
    font-family: arial;
    font-size: 30px;
    padding: 20px;
}
h3{
    font-family: arial;
    font-size: 20px;
    padding: 20px;
}
header{
    background-color: #ff0000;
    color: #fff;
    font-family: arial;
    padding: 15px;
    text-align: center;
}
footer{
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
    text-align: center;
}
figure{
}
.img-conteudo{
    border-radius: 10px 40px;
    text-align: left;
    padding: 20px;
}
#img-topo{
    text-align: center;
}